
body {
    margin: 0;
    font-family:"Roboto";
    color:navy;
    width: 100%;
    flex-direction: row;
  }
  nav {
    width: 100%;
    height: 10vw;
    background-color: rgb(255, 0, 0);
    position: sticky;
    top: 0;
    box-shadow: 0px 1px 5px #000000;
    z-index: 1;
    overflow: auto;
  }
  
   .nav-links { 
    /* display: ; */
    width: 33%;
    padding: 3vw;
    /* height: 100%; */
    /* float: right; */
    position: relative;
    right: -30vw;
    top: -3vw;
    /* list-style-position: inside; */
    font-size: 5vw;
    text-align: right;


  /* flex-direction: row; */
  /* flex: content; */
  }
     a {
      color: black; 
      text-decoration: none;
      height: 50vw;
    }
  
  a:link {
    text-decoration: none;
    text-align: center;  
  }
    a:hover {
      color:  rgb(10, 70, 211);
    } 
    
    social-resume {
  width: 100%;
  display: flex;
  flex-direction: row;
  height:40vw;
  
    }
  
   social-resume-box {  
      display: flex;
      /* flex: 2 */
      /* width 50%; */
      flex-direction: row;
      /* font-size: 1.5rem; */
      color: blue; 
       border-radius: 9px;
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
      transition-duration: 0.3s;
     
      margin: auto;
           position: relative;
        /* display: inline-block; */
        /* overflow: hidden; */
         } 
    
  
      .social-box {
        display: block;
        /* flex: 1; */
        /* margin: auto; */
        text-decoration: none;
        /* position: relative;
        overflow: hidden;
        width: 10%; */
      /* width: 49%; */
        
        flex-direction: column;
        font-size: 1.5rem;
        color: blue; 
         border-radius: 9px;
         box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
         transition-duration: 0.3s;
        /* height:  50vw; */
        width: 40vw;
          position: relative;
          overflow: hidden;
        }
      
social-resume-image {
    top: 10vw;
    position: relative; 
    width: 50px;
  
}        
      
.social-resume-headlines {
    color: navy;
    font-weight: 700;
    font-size:3vw;
    position: relative;
    top: 15vw;
   padding-left: 5vw;
   padding-right: 5vw;

}

.social-resume-bylines {
    color: navy;
    font-weight: 300;
    font-size:3vw;
    position: relative;
    top: 15vw;
    padding-left: 2vw;
    padding-right: 2vw;

}

.resume-image {
    /* width: 1%; */
    /* height: auto;
    display: flex   */
top: -10px;
position: relative;
margin: 5vw;
;
}
  
  header, about-me {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  
  header {
    height: 65vw;
    text-align: center;
  }
  
    about-me {
      height: 95vw;
  }
  
  .knife {
  
    /* float: top; */
    position: relative;
    top: -10vw;
  }
  
  .knife:hover {
    animation: wobbly-knife 0.6s;
    animation-iteration-count: infinite;
  }
  @keyframes wobbly-knife {
    0% { transform: translate(-1px, 1px) rotate(-1deg); }
    10% { transform: translate(1px, -3px) rotate(-1deg); } 
    20% { transform: translate(-2px, 2px) rotate(1deg); }
    30% { transform: translate(1px, 3px) rotate(0deg); }
    40% { transform: translate(-2px, 1px) rotate(1deg); } 
    50% { transform: translate(2px, -2px) rotate(-1deg); } 
    60% { transform: translate(-1x, 3px) rotate(0deg); }
    70% { transform: translate(2px, -1px) rotate(-1deg); }
    80% { transform: translate(-1px, -2px) rotate(1deg); }
    90% { transform: translate(1px, 1px) rotate(0deg); }
    100% { transform: translate(-1px, -1px) rotate(1deg); }
  }
  
  .home-logo:active {
    animation: wobbly-knife 0.6s;
    transform: translateY(4px);
  }
  
  .menu-icon {
  display: block;
  width: 0%; 
  }
  
  
  
  H1 {
    font-size:10vw;
    position: relative;
    top: -20vw ;
  }
    
  h2 {
    color: navy;
    font-weight: 700;
    font-size:5vw;
    position: relative;
    top: -25vw;
  
  }
  



  .cta {
    background-color: white; 
    color: navy; 
    border: 2px solid blue;
    padding: 5% 5%;
    box-shadow: 0 1vw 2px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
    transition-duration: 0.3s;
    width: 50%;
    margin: auto;
    text-align: center;
  
  
  
  }
  
  .cta:hover {
    color: white;
    background-color: navy;
  
    transform: translateY(-0.15em);
  }
  
  
  
  about-me {
    height: 200vw;
    color: navy;
    font-weight: 300;
    font-size: 5vw;
    display: flex;
    flex-direction: row;
   width: 100%;
   text-align: left;
   text-decoration: none;

  }
/*     
  about-me-image {
  
  top: 10vw;
  position: relative; 
  width: 10px;
    } */
  
  .anthony {
  
  position: relative;
  top: -0vw;
  width: 45%;
  height: 30%;
  left: 5vw;

  float: left;
  /* position: relative; */
  /* left:-25vw; */

  display: block;
    margin-left: auto;
    margin-right: auto;
  
  }
  
  h3 {
    text-align: center;
    font-size: 8vw;
    top: 10vw;
    position: relative;
  }
  
  h4 {
    text-align: center;
    font-size: 5vw;
    top: 0vw;
    position: relative;
  }
  ul.about-me-list {
    list-style-type: circle;
    padding-left: 10vw;
    padding-right: 3vw;
    font-size: 2.5vw;
    line-height: 3vw;
    
  }
  
  li:not(:last-child) {
    margin-bottom: 4vw;
    /* margin-right: 15vw;
    margin-left: 15vw; */
    float: right;
    width: 100%;
  }
  
.headline-skills {
position: relative;
top: -135vw;

}

  skills {
  height: 300vw;
  
       display: flex;
       
      width: 100%;
      text-align: center;
      
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    top: -140vw;
  }
  
  .skill-hover:hover {
    transform: translateY(-2px);
  
    
  }
  .social-resume-hover:hover {
    transform: translateY(-2px);
  }
  .about-me-hover:hover {
    transform: translateY(-2px);
  }
  
  
  /* social-resume-box (:last-child) {
    margin-bottom: 1vw;
  } */
    
  
  skill-box:not(:last-child) {
    margin-bottom: 23vw;
    margin: auto;
  }
    skill-box:(:last-child) {
        /* margin-bottom: 23vw; */
        /* margin: 50%; */
        /* align-items: center; */
        /* flex: 1; */
        position: absolute;
        left: 50vw;
    

  }
    
  skill-box {
    /* margin: auto; */
  
    font-size: 1.5rem;
    color: blue; 
     border-radius: 9px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition-duration: 0.3s;
     width:45vw;
    height:  60vw;
      position: relative;
      display: inline-block;
      overflow: hidden;
      
    }
  
    skill-box:last-child {
      margin:auto;
    }
  skill-image {
    top: 10vw;
  position: relative; 
  width: 5vw;
     } 
  
  h5 {
    color: navy;
    font-weight: 700;
    font-size:3vw;
    position: relative;
    top: 2vw;
   padding-left: 10vw;
   padding-right: 10vw;
    }
  
    p {
  
      color: navy;
    font-weight: 300;
    font-size:3vw;
    position: relative;
    top: -2vw;
    padding-left: 8vw;
    padding-right: 8vw;
  
    }
    
    .blog-headline {
      position: relative; 
      color: navy;
      font-weight: 700;
      top: -150vw;
    }
    blog {
  
         display: flex;
         flex-direction: row;

        width: 100%;
        text-align: center;
        flex-wrap: wrap;
        position:relative;
        top: 200vw;
    }
    
    .blog-hover:hover {
      transform: translateY(-2px);
    }
    
    blog-box:not(:last-child) {
      margin-bottom: 5vw;
    }
      
    blog-box {
      margin: auto;
    
      display: flex;
      flex-direction: column;
      font-size: 1.5rem;
      color: blue; 
       border-radius: 9px;
         box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
         transition-duration: 0.3s;
       width:40vw;
      height:  100vw;
        position: relative;
        top: -350vw;
        display: inline-block;
        overflow: hidden;
     
      }
    
      
    blog-image {
      top: 10vw;
     position: relative;
    width: 10px;
    height: 10px;
    
    height:100px;
       }
    
  h6 {
    color: navy;
    font-weight: 700;
    font-size:5vw;
    position: relative;
    top: 2vw;
    }
  
    .p-blog{
  
      color: navy;
    font-weight: 300;
    font-size:2.5vw;
    position: relative;
    top: 0vw;
    padding-left: 5vw;
    padding-right: 5vw;
    /* padding-top: -15vw; */
    /* padding-bottom: 15vw; */
    overflow: hidden;
    }
    
  
    footer {
  
      height: 40px;
     
    }
  
   